/* mobile */
@media only screen and (max-width:739px) {
    .navbar-name h1{
        color: red;
    }
}
/* tablet */
@media only screen and (min-width:740px) and (max-width:1023px) {
    .navbar-name h1{
        color: green;
    }
    .header{
        padding: 0;
    }
    .header-info{
        display: none;
    }
    .header-item{
        display: none;
    }
    .header-icon{
        display: block;
    }
    .header-icon:checked ~ .header-item{
        display: block;
    }
    .main-fourth-food-list-item,
   .main-fourth-food-img img,
   .main-fourth-food-img,
   .main-first-img img,
   .main-second-img img,
   .main-monday-menu
    {
        padding: 0;
    }
}